Source: gsettings-ubuntu-touch-schemas
Section: gnome
Priority: optional
Maintainer: Ubuntu Desktop Team <ubuntu-desktop@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               gnome-common,
               intltool (>= 0.40.0),
               libglib2.0-dev (>= 2.13.0),
Standards-Version: 3.9.5
Homepage: https://launchpad.net/gsettings-ubuntu-touch-schemas
# If you aren't a member of ~system-settings-touch but need to upload packaging
# changes, just go ahead.  ~system-settings-touch will notice and sync up the
# code again.
Vcs-Bzr: https://code.launchpad.net/~system-settings-touch/gsettings-ubuntu-touch-schemas/trunk

Package: gsettings-ubuntu-touch-schemas
Architecture: all
Multi-Arch: foreign
Section: oldlibs
Priority: extra
Depends: ${misc:Depends},
         ${shlibs:Depends},
         gsettings-ubuntu-schemas (= ${binary:Version})
Description: Transitional package for gsettings-ubuntu-schemas
 This is a transitional package for clean upgrades. You can safely remove it.

Package: accountsservice-ubuntu-touch-schemas
Architecture: all
Multi-Arch: foreign
Section: oldlibs
Priority: extra
Depends: ${misc:Depends},
         ${shlibs:Depends},
         accountsservice-ubuntu-schemas (= ${binary:Version})
Breaks: ubuntu-system-settings (<= 0.1+14.04.20140130-0ubuntu1)
Replaces: ubuntu-system-settings (<= 0.1+14.04.20140130-0ubuntu1)
Description: Transitional package for accountsservice-ubuntu-schemas
 This is a transitional package for clean upgrades. You can safely remove it.

Package: gsettings-ubuntu-schemas
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         ubuntu-touch-sounds,
Breaks: gsettings-ubuntu-touch-schemas (<= 0.0.1+14.04.20140130.1-0ubuntu1)
Replaces: gsettings-ubuntu-touch-schemas (<= 0.0.1+14.04.20140130.1-0ubuntu1)
Description: GSettings deskop-wide schemas for Ubuntu Touch
 gsettings-desktop-schemas contains a collection of GSettings schemas for
 settings shared by various components of an Ubuntu Touch environment.

Package: accountsservice-ubuntu-schemas
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends},
         accountsservice
Breaks: ubuntu-system-settings (<= 0.1+14.04.20140130-0ubuntu1),
        accountsservice-ubuntu-touch-schemas (<= 0.0.1+14.04.20140130.1-0ubuntu1)
Replaces: ubuntu-system-settings (<= 0.1+14.04.20140130-0ubuntu1),
          accountsservice-ubuntu-touch-schemas (<= 0.0.1+14.04.20140130.1-0ubuntu1)
Description: AccountsService schemas for Ubuntu Touch
 accountsservice-ubuntu-touch-schemas contains a collection of AccountsService
 vendor extension schemas used by various components of an Ubuntu Touch
 environment.
