#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export PKG_CONFIG_PATH=/usr/lib/$(DEB_HOST_MULTIARCH)/pkgconfig

%:
	dh $@  --with autoreconf --fail-missing

override_dh_autoreconf:
	dh_autoreconf -- ./autogen.sh
